---
layout: ../layouts/BaseLayout.astro
---

<main class="pt-12 space-y-8">
  <h1 class="font-bold text-4xl">Welcome to Astro Blog Starter Template</h1>
  <p class="text-lg">
    This is a simple and easy-to-use template for creating blogs with Astro and Markdown.
  </p>

  <section class="final-cta">
    <p>For more information, please see our PPA at <a href="your-ppa-link-here">your-ppa-link</a></p>
    <a href="https://wa.me/yourwhatsappnumber" class="btn btn-whatsapp">WhatsApp</a>
  </section>
</main>